#title {color:salmon; text-align:center;}
h1 {text-align:center; color:salmon; background-color:rgb(144, 12, 63);}
h2 {text-align:center; color:salmon; background-color:rgb(144, 12, 63);}
h3 {color:salmon; background-color:rgb(144, 12, 63);}
h5 {color:salmon; background-color:rgb(144, 12, 63);}
button {color:salmon; background-color:rgb(144, 12, 63);}
form {color:salmon; background-color:rgb(144, 12, 63);}
