#title {color:salmon; text-align:center;}
h1 {text-align:center; color:salmon;}
h2 {text-align:center; color:salmon;}
h3 {color:salmon;}
button {color:darkred; background-color:lightpurple}
form {color:salmon;}
